<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" href="/style.css">
</head>
<body>
<div class="container-wrapper">
    <div class="nav-menu">
        <ul>
            <li><a href="stations">Stations</a></li>
            <li><a href="drivers">Drivers</a></li>
            <li><a href="equipments">Equipments</a></li>
            <li><a href="routes">Routes</a></li>
            <li><a href="vehicles">Vehicles</a></li>
            <li><a href="data-gen">Seed Database</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <h1 class="title"> List Drivers </h1>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th> Driver ID</th>
                <th> Age</th>
                <th> SurName</th>
                <th> Firstname</th>
                <th> Licence Plate</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="driver: ${drivers}">
                <td th:text="${driver.driverId}"></td>
                <td th:text="${driver.age}"></td>
                <td th:text="${driver.sureName}"></td>
                <td th:text="${driver.firstName}"></td>
                <td th:text="${driver.vehicle.licencePlate}"></td>


                <td>
                    <a th:href="@{/drivers/delete(driverId=${driver.driverId})  }" class="button">Delete</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div>

        <h1 class="title">Create New Driver</h1>


        <form method="post" th:action="@{/drivers}">
            <div class="input-wrapper">
                <input id="driverId " placeholder="Driver ID" required type="text" name="driverId"/>
                <input id="age" placeholder="Age" required type="text" name="age"/>
                <input id="sureName" placeholder="Surname" required type="text" name="sureName"/>
                <input id="firstName" placeholder="Firstname" required type="text" name="firstName"/>
                <input id="licencePlate" placeholder="Licence Plate" required type="text" name="licencePlate"/>
                <input class="button" type="submit" value="Create Driver">
            </div>
        </form>
    </div>
    <div>
        <h1 class="title">Update Driver By ID</h1>

        <form method="post" action="drivers/update">
            <div class="input-wrapper">
                <input id="updatedriverId " placeholder="Driver ID" required type="text" name="driverId"/>
                <input id="updateage" placeholder="Age" required type="text" name="age"/>
                <input id="updatesureName" placeholder="Surname" required type="text" name="sureName"/>
                <input id="updatefirstName" placeholder="Firstname" required type="text" name="firstName"/>
                <input id="updatelicencePlate" placeholder="Licence Plate" required type="text" name="licencePlate"/>
                <input class="button" type="submit" value="Update Driver ">
            </div>
        </form>

    </div>
    <div class="container">
        <div class="navigation-buttons">
            <button class="button" onclick="window.location.href='http://localhost:8080/drivers/by-SZJA';">
                List SZJA Free Drivers
            </button>
            <button class="button" onclick="window.location.href='http://localhost:8080/drivers/bus-drivers';">
                List Bus Drivers
            </button>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>