<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>

<div class ="container">
  <div class = "row">
    <h1> List Equipments </h1>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Equipment ID</th>
      <th> TicketMachine</th>
      <th> Wifi </th>
      <th> DigitalTracker </th>
      <th> LowFloor </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "equipment: ${equipments}">
      <td th:text = "${equipment.equipmentId}"></td>
      <td th:text = "${equipment.hasTicketMachine}"></td>
      <td th:text = "${equipment.hasWifi}"></td>
      <td th:text = "${equipment.hasDigitalTracker}"></td>
      <td th:text = "${equipment.hasLowFloor}"></td>


      <td>
        <a th:href = "@{/equipments/delete(equipmentId=${equipment.equipmentId})  }"class = "btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<div>
  <h1>Create New Driver</h1>


  <form method="post" th:action="@{/equipments}"  >

    <input id="equipmentId " placeholder="Equipment ID" required type="text" name="equipmentId"/>
    <input id="hasTicketMachine" placeholder="TicketMachine" required type="text" name="hasTicketMachine"/>
    <input id="hasWifi" placeholder="Wifi" required type="text" name="hasWifi"/>
    <input id="hasDigitalTracker" placeholder="DigitalTracker" required type="text" name="hasDigitalTracker"/>
    <input id="hasLowFloor" placeholder="LowFloor" required type="text" name="hasLowFloor"/>
    <input type="submit" value="Create Equipment">
  </form>
</div>
<div>
  <h1>Update Driver By ID</h1>

  <form method="post" action="equipments/update"  >
    <input id="updateequipmentId " placeholder="Equipment ID" required type="text" name="equipmentId"/>
    <input id="updatehasTicketMachine" placeholder="TicketMachine" required type="text" name="hasTicketMachine"/>
    <input id="updatehasWifi" placeholder="Wifi" required type="text" name="hasWifi"/>
    <input id="updatehasDigitalTracker" placeholder="DigitalTracker" required type="text" name="hasDigitalTracker"/>
    <input id="updatehasLowFloor" placeholder="LowFloor" required type="text" name="hasLowFloor"/>
    <input  type="submit" value="Update Equipment ">
  </form>

</div>
</body>
<script>

</script>
</html>